# pycharm-specific file
.idea

# logs folder
logs

# models folder
CI/models

# results folder
results

# pycache file...I don't think we need them
__pycache__

# Apple specific file
.DS_Store

# folder for storing rough code/notebooks/data/etc.
rough

# runs of YOLO
runs

# YOLO models
*.pt